@font-face {
  font-family: 'Comic Sans MS';
  src: url('fonts/Comic Sans MS.eot');
  src: url('fonts/Comic Sans MS.woff2') format('woff2'),
       url('fonts/Comic Sans MS.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ComicSansMS';
  src: url('fonts/ComicSansMS.woff') format('woff'),
       url('fonts/ComicSansMS.ttf') format('truetype'),
       url('fonts/ComicSansMS.svg#Comic Sans MS') format('svg');
  font-weight: normal;
  font-style: normal;
}

.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1600px;margin: 0 auto;text-align: center;font-family: "Comic Sans MS"}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
p{line-height: 30px; font-size: 20px;}
.row {max-width: 1200px;margin: 0 auto}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }

/*button*/
.btn {font-family: "Comic Sans MS"; font-size: 18px; font-weight: 400; color: #fff;; display: inline-block; padding: 10px 23px; background: #F36C73; border: 1px solid transparent; transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: 1.42857; margin-bottom: 20px;padding: 4px;transition: border 0.2s ease-in-out 0s;}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-family:"Comic Sans MS"; font-size: 56px;font-weight: 400;color:#9F9F9F;}
/*header*/
#header {position: relative;top:0; left:0; right:0; width: 100%;margin: 0 auto;z-index: 999; text-align: right;padding-top: 50px;}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 0}
#header nav ul li {display: inline-block;vertical-align: middle;margin-left: 40px;}
#header nav ul li a {position: relative; font-family: 'Comic Sans MS'; font-size: 18px; font-weight: normal;color: #0AB3AC}
#header nav ul li.active-menu a:after, #header nav ul li:hover a:after {content: "";background: url(../images/common/hover.png)no-repeat;background-size: 100%;position: absolute;width: 54px;height: 10px;top: 30px;left: 50%;transform: translateX(-50%);}
#header .logo{position: absolute;top: 0;margin-left: -80px;}
#header .logo img{max-width: 340px; width: 100%;}
#header .logo p{margin: 0 auto 0; text-align: center;}
/*banner*/
#banner {position: relative;background: url(../images/common/bg1.jpg)no-repeat center top; background-size:cover;padding: 442px 0 44px ;}
#banner .row{max-width: 1600px}
#banner .banner-image img{max-width: 684px; width: 100%; margin: 0 auto;position: absolute;bottom: 0;left: 50%;transform: translateX(-35%);}
.welcome-banner{padding: 20px 0 30px 50px;text-align: left; background: #0AB3AC;width: 40%;}
.welcome-banner h3 {font-family: 'Comic Sans MS'; font-size: 31px; color: #fff}
.welcome-banner h2 {font-family: 'Comic Sans MS'; font-size: 45px; color: #fff; max-width: 537px;line-height: 64px}

.welcome-banner p{font-family: "Comic Sans MS"; font-size: 20px; color: #fff; margin: 0 0 10px; max-width: 450px}
/*content*/
#content {}

#welcome-section{position: relative;padding: 60px 0;}
.welcome-left, .welcome-right{display: inline-block;vertical-align: middle;}
.welcome-left{width: 60%;margin-left: -103px;}
.welcome-left img{max-width: 720px; width: 100%;}
.welcome-right {width: 44%;padding: 0 0 0 50px;text-align: left;}
.welcome-right h2{font-family: "Comic Sans MS"; font-weight: 400;font-size: 36px;color: #19A5C6;}
.welcome-right h1{position: relative; }
.welcome-right h1:after{content: ''; width: 68px; height: 4px; position: absolute; top: 85px; left: 0;background: #5AB798}
.welcome-right h1 span.color1{color: #0AB3AB;}
.welcome-right h1 span.color2{color: #E21D6A;}
.welcome-right p{max-width: 530px;color: #ffa500;}
.welcome-right ul{color: #ffa500}

#our-program-section{background: url(../images/content/bg1content.jpg)no-repeat center top; background-size: cover; padding: 40px 0 100px;}
#our-program-section h2{position: relative;font-family: "Comic Sans MS"; font-weight: 400; font-size: 72px; color: #fff;margin-bottom: 40px;}
#our-program-section h2:after{content: '';position: absolute;top: 120px;left: 50%; transform: translateX(-50%);width: 68px;height: 4px;background: #fff}
#our-program-section p{color: #fff;max-width: 980px; margin: 0 auto;font-size: 18px; text-align: left}
#our-program-section dl{background-color: #fff;display: inline-block; vertical-align: top; width: 33%;}
#our-program-section dl{max-width: 290px;margin: 40px 3px 0;}
#our-program-section dl.dlmiddle{margin-left: 17px; margin-right: 17px;}
#our-program-section dl dt img{max-width: 400px; width: 100%;}
#our-program-section dl dd{ margin: 0 0; padding: 10px 0;min-height: 69px}
#our-program-section dl dd.prCreative{color: #FF5AA9; font-size: 25px; font-family: "Comic Sans MS"}
#our-program-section dl dd.prDayCare{color: #96E2B1; font-size: 25px; font-family: "Comic Sans MS"}
#our-program-section dl dd.prToddler{color: #B76D85; font-size: 25px; font-family: "Comic Sans MS"}

#meet-section{background: url(../images/content/bg2content.jpg)no-repeat center top; background-size: cover; padding: 40px 0 215px;}
#meet-section h2{position: relative;font-family: "Comic Sans MS"; font-weight: 400; font-size: 48px; color: #5C0F0A;}
#meet-section h2:after{content: '';position: absolute;top: 86px;left: 50%; transform: translateX(-50%);width: 68px;height: 4px;background: #fff}
#meet-section p{color: #5C0F0A;max-width: 980px; margin: 40px auto;font-size: 24px}
#meet-section dl{background-color: #fff;display: inline-block; vertical-align: top; width: 33%;}
#meet-section dl{max-width: 290px;margin: 40px 20px 0;}
#meet-section dl dt img{max-width: 400px; width: 100%;}
#meet-section dl dd{ margin: 0 0; padding: 10px 0;min-height: 69px;font-size: 25px; font-family: "Comic Sans MS"}

#testimonials-section{background:#ECECFB ; padding: 100px 0 40px;}
#testimonials-section img{max-width: 127px; width: 100%; margin: 40px auto 10px;}
#testimonials-section h2{position: relative;font-family: "Comic Sans MS"; font-weight: 400; font-size: 48px; color: #19A5C5;}
#testimonials-section h2:after{content: '';position: absolute;top: 86px;left: 50%; transform: translateX(-50%);width: 68px;height: 4px;background: #5FC368}
#testimonials-section p{color: #545454;max-width: 980px; margin: 40px auto;font-style: italic;font-size: 20px;color: #000}
#testimonials-section p.testName{font-family: "Comic Sans MS"; font-size: 18px; color: #000000;font-style: normal;}
/*footer*/
#footer {background: #fff; margin: 0;}
.contactTop h2{font-family:"Comic Sans MS"; font-weight: 400;font-size: 48px; color: #19A5C5;padding: 75px 0 30px;}
.contactMid .cmLeft{display: inline-block;vertical-align: top;text-align: left;width: 41.66%;}
.contactMid .cmLeft img, .contactMid .cmLeft p{display: inline-block; vertical-align: middle;}
.contactMid .cmLeft p{font-size: 24px; font-family: "Comic Sans MS"; color:#FFD24D; margin-left: 10px;}
.contactMid .cmLeft p span{display: block;font-size: 18px; font-family: "Comic Sans MS"; color:#04B0AA}
.contactMid .cmMid{display: inline-block;vertical-align: top;text-align: left;width: 25%}
.contactMid .cmMid img, .contactMid .cmMid p{display: inline-block; vertical-align: middle;}
.contactMid .cmMid p{font-size: 24px; font-family: "Comic Sans MS"; color:#FFD24D; margin-left: 10px;}
.contactMid .cmMid p span{display: block;font-size: 18px; font-family: "Comic Sans MS"; color:#04B0AA}
.contactMid .cmRight{display: inline-block;vertical-align: top;text-align: left;;width:32.34%}
.contactMid .cmRight img, .contactMid .cmRight p{display: inline-block; vertical-align: middle}
.contactMid .cmRight p{font-size: 24px; font-family: "Comic Sans MS"; color:#FFD24D; margin-left: 10px;}
.contactMid .cmRight p span{display: block;font-size: 18px; font-family: "Comic Sans MS"; color:#04B0AA}
.contactBot nav ul {margin: 0;padding: 90px 0 40px}
.contactBot nav ul li {display: inline-block;vertical-align: middle;margin-left: 40px;}
.contactBot nav ul li a {position: relative; font-family: 'Comic Sans MS'; font-size: 18px; font-weight: normal;color: #0AB3AC}
.contactBot nav ul li.active-menu a:after, .contactBot nav ul li:hover a:after {content: "";background: url(../images/common/hover.png)no-repeat;background-size: 100%;position: absolute;width: 54px;height: 10px;top: 30px;left: 50%;transform: translateX(-50%);}
.footerBot{background-color: #4BDCEF; color: #fff;font-family:"Comic Sans MS"; font-weight: 400;font-size: 17px;padding: 10px 0;}
#footer .copy, #footer .silver{padding: 0; margin: 0;}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}


/*inner pages*/
.inner #content {min-height: 400px;padding: 40px 0}
.inner #content h1{font-family:"Comic Sans MS"; font-size: 56px;font-weight: 400;color:#19A5C6;line-height:120%;}
.inner #content p {font-family:"Comic Sans MS"; font-size: 18px;color:#000; line-height:180%; text-align: left;}

.inner #content h2{font-family: "Comic Sans MS"; color:#F36C73;margin:15px auto;}
.inner #content h3{font-size: 25px;}
.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}
.cta { display: none;}
/* responsive */
@media screen and (max-width:1024px){
  body{min-width: 320px}
  .row{max-width: 95%}
  h1{font-size: 30px}
  #header {padding: 15px 0;text-align: center;}
  #header nav {position: fixed;display:block; height: auto;  z-index: 999; width: 95%;text-align: right;}
  #header nav ul { width: 95%; display: none; height: auto; border-radius: 10px; border: 1px solid #fff; background: rgba(0,0,0,0.8);}
  #header nav ul li { width: 95%;position: relative; margin: 0 auto;}
  #header nav ul li a {display: block;float:none;padding: 10px 0;}
  #header nav a { text-align: center; width: 95%;}
	#header nav a#pull {display: inline-block; background: rgba(0,0,0,0.5); color: #000; height: 30px; padding: 10px 0; width: 50px; position: relative; border-radius: 100%; border: 1px solid #0ab3ac;}
	#header nav a#pull:after {content: ""; background: url(../images/nav-icon.png) no-repeat; width: 20px; height: 20px; position: absolute; left: 15px; top: 15px;}
	#header .row {max-width: 95%;}
  #header .logo{z-index: -1;left: 50%;transform: translateX(-50%);position: relative;margin-left: unset;}
  #header .logo img{margin: 0 auto;width: 40%;}
  #header .logo p{font-size: 3vw}
  #banner{padding: 10px 0 0;}
  .welcome-banner{width: 100%;text-align: center;padding: 20px 0;}
  .welcome-banner h2{margin: 0 auto;font-size: 34px}
  .welcome-banner p{margin: 0 auto;max-width: 280px;}
  #banner .banner-image img{left: 50%;transform: translateX(-80%);position: relative;width: 60%;}

  .welcome-left{display: block;width: 95%;margin: 0 auto;}
  .welcome-left img{max-width: 95%}
  .welcome-right{display: block;width: 100%;text-align: center; padding: 0 5px;}
  .welcome-right h1:after{display: none;}
  .welcome-right h2{font-size: 32px}
  .welcome-right p{margin: 0;font-size: 18px;width: 95%;}
  .welcome-right ul li{text-align: left;list-style: disc;}

  #our-program-section dl{display: block; width: 95%;margin: 0 auto;}
  #our-program-section dl.dlmiddle{margin: 0 auto;}
  #our-program-section dl dt img{width: 100%;}
  #our-program-section h2{font-size: 60px}
  #our-program-section p{font-size: 20px;width: 95%;}

  #meet-section {padding: 40px 0;}
  #meet-section h2{font-size: 38px}
  #meet-section h2:after{top:76px}
  #meet-section p{font-size: 18px; width: 95%;}
  #meet-section dl{display: block; width: 95%;margin: 0 auto;}
  #meet-section dl.dlmiddle{margin: 0 auto;}
  #meet-section dl dt img{width: 100%;}

  #testimonials-section{padding: 40px 0;}
  #testimonials-section h2{font-size: 30px}
  #testimonials-section h2:after{top: 64px;}
  #testimonials-section p{font-size: 18px; width: 95%;}
  .contactMid .cmLeft p span
  .contactTop h2{font-size: 37px}

  .contactMid .cmLeft{display: block;width: 95%;text-align: center;}
  .contactMid .cmMid{display: block;width: 95%;text-align: center;}
  .contactMid .cmRight{display: block;width: 95%;text-align: center;}
  .contactMid .cmLeft img, .contactMid .cmLeft p{display: block;margin: 0 auto;}
  .contactMid .cmMid img, .contactMid .cmMid p{display: block;margin: 0 auto;}
  .contactMid .cmRight img, .contactMid .cmRight p{display: block;margin: 0 auto;}
  .contactMid .cmLeft p{margin-top: 10px;}
  .contactMid .cmMid p{margin-top: 10px;}
  .contactMid .cmRight p{margin-top: 10px;}

  .contactBot nav ul{padding: 20px 0;}
  .contactBot nav ul li{display: block;margin: 20px auto;}
  #footer .copy, #footer .silver{font-size: 14px; width: 95%;margin: 0 auto;}
}
@media screen and (max-width: 800px){
	 .cta{background: #0AB3AC url("../images/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #0AB3AC ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}
